@charset "utf-8";

* { margin:0; padding:0; }
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
a img{ border-style:none;}

/* Font */
@font-face {
    font-family: Cen;
    src: url("tw-cen-mt-condensed-medium.ttf");
}

#warning{
	width:100%;
	text-align:center;
	font-size: 40px;
	padding-top: 50px;
}

html{
	background: white;
	font-family: Calibri, Arial, sans-serif;
	color: #1a1b1f;
}

body{
	overflow-x: hidden;
}

#top{
	width: 100%;
	height: 168px;
	background: #1a1b1f url("img/bg_header.png") center repeat-x;
}

header{
	margin: 0 auto;
	height: 168px;
	width: 1400px;
	color: #e4e0e0;
	background: #1a1b1f url("img/bg_header.png") center repeat-x;
}

h1{
	float: left;
	width: 211px;
	height: 146px;
	margin-top: 10px;
	margin-left: 50px;
}
h2{
	margin-bottom: 10px;
	font-size: 40px;
	font-family: Cen, Arial, sans-serif;
}
p{
	clear:both;
	margin-bottom: 20px;
}

nav{
	float: right;
	margin-top: 115px;
	margin-right: 50px;
	text-align: right;
	font-size: 40px;
	font-family: Cen, Arial, sans-serif;
}

nav a{
	text-decoration: none;
	color: #e4e0e0;
	margin-left: 40px;
}
nav a:hover{
	color: #bd3b3b;
}

.navCurrent{
	text-decoration: underline;
}

#content{
	width:1200px;
	height:300px;
	margin: 30px auto 0;
}

.projectIcon{
	width: 300px;
	height: 300px;
	float: left;
}

.projectLink{
	width: 100%;
	height: 100%;
	float: left;
	border: 0px #bd3b3b solid;
}
.projectLink:hover{
	width: 280px;
	height: 280px;
	border: 10px #bd3b3b solid;
}

#proj_rox{
	background: url("img/icon_proj_rox.jpg")
}
#proj_ram{
	background: url("img/icon_proj_ram.jpg")
}
#proj_stratos{
	background: url("img/icon_proj_stratos.jpg")
}
#proj_blood{
	background: url("img/icon_proj_blood.jpg")
}
#proj_tf2{
	background: url("img/icon_proj_tf2.jpg")
}

.showcase_container{
	position:relative;
}
.showcase{
    display: block;
    margin: 0 auto;
	width:100%;
	height: auto;
}

.expand{
	opacity: 0;
	position: absolute;
    bottom: 10px;
    left: 575px;
}

.showcase:hover + .expand { opacity: 1; }
.expand:hover { opacity: 1; }

/* mmmmmmedia */
@media screen and (max-width: 1400px){
	header{
		width: 100%;
	}
	
	
}

@media screen and (max-width: 1200px){
	#content{
		width: 100%;
	}
}

@media screen and (max-width: 800px){	
	h1{
		position: absolute;
		top: 10px;
		left: 15px;
		margin: 0;
	}
	
	nav{
		width: 65%;
		margin-top: 10px;
		margin-right: 15px;
	}
	nav a{
		clear: both;
		float: right;
		margin-bottom: 10px;
	}
}