/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

header{
	width: 100%;
	margin: 0px auto 0;
	font-size: 1.2em;
	text-align: center;
}

.titres{
	clear: both;
	width: 100%;
	font-size: 0.8em;
	margin-top: 25px;
	margin-bottom: 3px;
}
.centrer{
	clear: both;
	margin: 0 auto;
	width: 250px;
}

#boutons{
}

#boutons2{
}

#timer{
	font-size: 1.5em;
	margin-top: 100px;
	visibility: hidden;
}

.bouton{
	float: left;
	width: 118px;
	height: 38px;
	border: 1px solid white;
	color: lightgrey;
	text-align: center;
	line-height: 38px;
	background-color: white;
	cursor: pointer;
	margin-right: 10px;
}
.bouton:hover{
	border: 1px solid black;
	background-color: #FFFFCC;
	color: black;
}
#boutons2 .bouton{
	width: 74px;
}

#btnKatakana, #btnTemps5{
	margin-right: 0;
}
.selectedMode{
	color: black;
	text-decoration: underline;
}

#container{
	clear: both;
	margin: 10px auto 0;
	overflow: auto;
	background-color: lightgrey;
	width: 100%;
	padding-bottom: 10px;
}

#score{
	text-align: center;
	font-size: 1.2em;
	line-height: 40px;
}

#question{
	background-color: white;
	width: 250px;
	height: 60px;
	margin: 0 auto 15px;
	text-align: center;
	font-size: 50px;
	line-height: 60px;
}

#answers{
	width: 250px;
	margin: 0 auto;
	font-size: 20px;
}

.answer{
	float: left;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: white;
	cursor: pointer;
}
html.no-touch .answer:hover{
	border: 1px solid black;
	width: 78px;
	height: 38px;
}

.answer:nth-child(3n){
	margin-right: 0;
}
.answerGood{
	background-color: lightgreen;
}
.answerBad{
	background-color: red;
}
.correction{
	border: 3px solid green;
	color: green;
	width: 74px;
	height: 34px;
	line-height: 34px;
}

#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: lightgrey;
}